<div id="add" class="modal">
  <div class="modal-content">
    <h4>Cadastro de Municipe</h4>
    <%= form_with model: Municipe.new, id: "create-municipe" do |form| %>
      <h5>Dados Pessoais</h5>
      <div class="row">
        <div class="input-field col s12">
          <%= form.text_field :nome %>
          <%= form.label :nome %>
        </div>

        <div class="input-field col s4">
          <%= form.text_field :email %>
          <%= form.label :email %>
        </div>

        <div class="input-field col s4">
          <%= form.text_field :cpf, class: "number" %>
          <%= form.label :cpf %>
        </div>

        <div class="input-field col s4">
          <%= form.date_field :dt_nasc %>
          <%= form.label :dt_nasc %>
        </div>

        <div class="input-field col s4">
          <%= form.text_field :telefone, class: "number" %>
          <%= form.label :telefone %>
        </div>

        <div class="input-field col s4">
          <%= form.select :status, ["ativo", "inativo"] %>
          <%= form.label :status %>
        </div>
        <div class="input-field col s4">
          <%= form.file_field :foto %>
          <%= form.label :foto %>
        </div>

      </div>
      <h5>Endereço</h5>
      <div class="row">
      <%= form.fields_for :endereco, Endereco.new do |endereco| %>
        <div class="input-field col s12">
          <%= endereco.text_field :cep, class: "cep", maxlength: "8", size: "8" %>
          <%= endereco.label :cep %>
        </div>
        <div class="input-field col s8">
          <%= endereco.text_field :logradouro %>
          <%= endereco.label :logradouro %>
        </div>
        <div class="input-field col s2">
          <%= endereco.text_field :numero %>
          <%= endereco.label :numero %>
        </div>
        <div class="input-field col s2">
          <%= endereco.text_field :complemento %>
          <%= endereco.label :complemento %>
        </div>
        <div class="input-field col s4">
          <%= endereco.text_field :bairro %>
          <%= endereco.label :bairro %>
        </div>
        <div class="input-field col s4">
          <%= endereco.text_field :municipio %>
          <%= endereco.label :municipio %>
        </div>
        <div class="input-field col s4">
          <%= endereco.text_field :uf %>
          <%= endereco.label :uf %>
        </div>
        <div class="input-field col s4">
          <%= endereco.text_field :codigo_ibge %>
          <%= endereco.label :codigo_ibge %>
        </div>
      <% end %>
      </div>
      <%= form.submit class: "btn", id: "submit-municipe" %>

    <% end %>
  </div>
</div>