 <table class="striped" id="municipe-list">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.municipe.nome') %></th>
        <th><%= t('activerecord.attributes.municipe.cpf') %></th>
        <th><%= t('activerecord.attributes.municipe.telefone') %></th>
        <th><%= t('activerecord.attributes.endereco.municipio') %></th>
        <th><%= t('activerecord.attributes.endereco.uf') %></th>
        <th><%= t('activerecord.attributes.municipe.status') %></th>
      </tr>
    </thead>

    <tbody>
      <% @municipes.each do |municipe| %>
        <tr>
          <td><span class="show-municipe" data-id="<%= municipe.id %>"><%= municipe.nome %></span></td>
          <td><%= municipe.cpf %></td>
          <td><%= municipe.telefone %></td>
          <td><%= municipe.endereco.municipio %></td>
          <td><%= municipe.endereco.uf %></td>
          <td><%= municipe.status %>

          <td>
            <div class="row">
              <button class="btn edit-municipe-button" data-id="<%= municipe.id %>"><%= t('helpers.submit.edit')%></button>
              <%= button_to municipe.status == "ativo" ? "inativo" : "ativo", {action: "change_status", id: municipe.id}, method: :put, class:"btn",  form: { "data-type" => "json" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @municipes, previous_label: 'Anterior', next_label: 'Próximo' %>
 