<div id="show" class="modal">
  <div class="modal-content">
    <h4><%= t('pages.titles.municipe') %></h4>
    
      <img id="foto" src="<%= url_for(@municipe.foto) if @municipe.foto.present? %>">
      <h5><%= t('pages.titles.personal_data')%></h5>
      <div class="row">
        <div class="col s12">
          <label for="nome"><%= Municipe.human_attribute_name(:nome) %></label><br>
          <span id="nome"><%= @municipe.nome %></span>
        </div>

        <div class="col s4">
          <label for="email"><%= Municipe.human_attribute_name(:email) %></label><br>
          <span id="email"><%= @municipe.email %></span>
        </div>

        <div class="col s4">
          <label for="cpf"><%= Municipe.human_attribute_name(:cpf) %></label><br>
          <span id="cpf"><%= @municipe.cpf %></span>
        </div>

        <div class="col s4">
          <label for="dt_nasc"><%= Municipe.human_attribute_name(:dt_nasc) %></label><br>
          <span id="dt_nasc"><%= @municipe.dt_nasc.strftime("%d/%m/%Y") %></span>
        </div>

        <div class="col s4">
          <label for="telefone"><%= Municipe.human_attribute_name(:telefone) %></label><br>
          <span id="telefone"><%= @municipe.telefone %></span>
        </div>

        <div class="col s4">
          <label for="status"><%= Municipe.human_attribute_name(:status) %></label><br>
          <span id="status"><%= @municipe.status %></span>
        </div>
      </div>
      <h5><%= t('pages.titles.address') %></h5>
      <div class="row">
        <div class="col s12">
          <label for="cep"><%= Endereco.human_attribute_name(:cep) %></label><br>
          <span id="cep"><%= @municipe.endereco.cep %></span>
        </div>
        <div class="col s8">
          <label for="logradouro"><%= Endereco.human_attribute_name(:logradouro) %></label><br>
          <span id="logradouro"><%= @municipe.endereco.logradouro %></span>
        </div>
        <div class="col s2">
          <label for="numero"><%= Endereco.human_attribute_name(:numero) %></label><br>
          <span id="numero"><%= @municipe.endereco.numero %></span>
        </div>
        <div class="col s2">
          <label for="complemento"><%= Endereco.human_attribute_name(:complemento) %></label><br>
          <span id="complemento"><%= @municipe.endereco.complemento %></span>
        </div>
        <div class="input-field col s4">
          <label for="bairro"><%= Endereco.human_attribute_name(:bairro) %></label><br>
          <span id="bairro"><%= @municipe.endereco.bairro %></span>
        </div>
        <div class="input-field col s4">
          <label for="municipio"><%= Endereco.human_attribute_name(:municipio) %></label><br>
          <span id="municipio"><%= @municipe.endereco.municipio %></span>
        </div>
        <div class="input-field col s4">
          <label for="uf"><%= Endereco.human_attribute_name(:uf) %></label><br>
          <span id="uf"><%= @municipe.endereco.uf %></span>
        </div>
        <div class="input-field col s4">
          <label for="codigo_ibge"><%= Endereco.human_attribute_name(:codigo_ibge) %></label><br>
          <span id="codigo_ibge"><%= @municipe.endereco.codigo_ibge %></span>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <% # <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> %>
  </div>
</div>