<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Municipes</h1>

  <table class="striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @municipes.each do |municipe| %>
        <tr>
          <td><%= municipe.nome %></td>
          <td><%= municipe.cpf %></td>
          <td><%= municipe.telefone %></td>

          <td>
            <i class="material-icons" id="<%= municipe.id %>">visibility</i>
            <i class="material-icons" id="<%= municipe.id %>">create</i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @municipes, previous_label: 'Anterior', next_label: 'Próximo' %>

  <br>

<% "link_to 'New Municipe', new_municipe_path" %>
</div>